{% load humanize %}
{% load static %}
<link rel="stylesheet" href="{% static 'canasta/styles.css' %}">
<h3>JUMBO</h3>
<ul>
{% for item in data_jumbo %}
    <li>
        {{forloop.counter}} <span class="item_nombre">{{item.nombre}}</span> <b>{{item.marca}}</b> {{item.unidadMedida}} {% if item.precio != 0 %}${{item.precio|intcomma}}{% else %}{{item.listaPrecios}}{% endif %}  <a href="https://www.jumbo.cl{{item.url}}" target="_blank">ver detalle</a> <button type="button" class="btn btn-primary" onclick="alert('Agregado al carrito')">Agregar</button>
    </li>
{% empty %}
    <b> No se sencontraron productos</b>
{% endfor %}
</ul>

 <h3>UNIMARC</h3>
 <ul>
{% for item in data_unimarc %}
    <li>
        {{forloop.counter}} <span class="item_nombre">{{item.name}}</span> {% for seller in item.sellers%} ${{seller.price}} {% endfor %} <a href="https://www.unimarc.cl/product{{item.detailUrl|slice:":-2"}}" target="_blank">ver detalle</a> <button type="button" class="btn btn-primary" onclick="alert('Agregado al carrito')">Agregar</button>
    </li>
{% empty %}
    <b> No se sencontraron productos</b>
{% endfor %}
</ul>

 <h3>LIDER</h3>
 <ul>
{% for item in data_lider %}
    <li>
        {{forloop.counter}} <span class="item_nombre">{{item.nombre}}</span> <b>{{item.marca}}</b> {{item.unidadMedida}} ${{item.precio|intcomma}} <a href="https://www.lider.cl{{item.url}}" target="_blank">ver detalle</a> <button type="button" class="btn btn-primary" onclick="alert('Agregado al carrito')">Agregar</button>
    </li>
{% empty %}
    <b> No se sencontraron productos</b>
{% endfor %} 
</ul>

<h3>SANTA ISABEL</h3>
<ul>
{% for item in data_santa %}
    <li>
        {{forloop.counter}} <span class="item_nombre">{{item.nombre}}</span> <b>{{item.marca}}</b> {{item.unidadMedida}} {% if item.precio != 0 %}${{item.precio|intcomma}}{% else %}{{item.listaPrecios}}{% endif %} <a href="https://www.santaisabel.cl{{item.url}}" target="_blank">ver detalle</a> <button type="button" class="btn btn-primary" onclick="alert('Agregado al carrito')">Agregar</button>
    </li>
{% empty %}
    <b> No se sencontraron productos</b>
{% endfor %} 
</ul>

<a type="button" value="Buscar" class="btn btn-primary" href="/canasta">Nueva búsqueda</a>

<table>
    <thead>
        <tr>
            <th> Productos disponibles </th>
            <th> <img id="jumbo_icon" class="icon_top_table" src="{% static 'canasta/jumbo.png' %}" > </th>
            <th> <img id="lider_icon" class="icon_top_table" src="{% static 'canasta/lider.png' %}" > </th>
            <th> <img id="santa_icon" class="icon_top_table" src="{% static 'canasta/Santa_Isabel.png' %}" > </th>
        </tr>
    </thead>
</table>